temp/bid_landscape_feed_2013_10_19_13_20131019145233_0.csv
temp/
lib/__pycache__/auth.cpython-33.pyc
lib/__pycache__/fileWriter.cpython-33.pyc
worker/siphon/__pycache__/
lib/__pycache__/httpHandler.cpython-33.pyc
worker/generic/__pycache__/AbstractGenericWorker.cpython-33.pyc
low_running_lineitems*.csv
